abc/src/main/mule/abc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:nexmo-messages-api="http://www.mulesoft.org/schema/mule/nexmo-messages-api" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:spring="http://www.mulesoft.org/schema/mule/spring"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/nexmo-messages-api http://www.mulesoft.org/schema/mule/nexmo-messages-api/current/mule-nexmo-messages-api.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="114a3926-27e8-4d93-846b-72f0573bcc9b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<nexmo-messages-api:config name="Nexmo_Messages_API_Config" doc:name="Nexmo Messages API Config" doc:id="69a02ca5-95e9-49b9-ab67-f32d6a8efa6c" property_username="f73edcce" property_password="m8Biqzt3cjwvjNUP" property_basePath="/v0.1"/>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="46fc2030-f6eb-41d5-b392-08b660f3475a">
		<http:request-connection host="localhost" port="8082" />
	</http:request-config>
	<flow name="abcFlow" doc:id="32d8fccd-df0c-4aa0-9138-2a17d978df6b" >
		<http:listener doc:name="Listener" doc:id="eb5bfd09-0dc3-46d7-9c2b-69a992e71964" config-ref="HTTP_Listener_config" path="/input"/>
		<logger level="INFO" doc:name="Logger" doc:id="99006749-1431-458f-b744-0de77b356ef5" message="#[payload]"/>
		<nexmo-messages-api:send-a-message doc:name="Send a message" doc:id="a4cc4dde-800d-4619-8c0c-52a672ea5aeb" config-ref="Nexmo_Messages_API_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="1cf6f8cc-9cf6-4c45-ae49-b5a694daab0f" message="#[payload]"/>
		<http:request method="POST" doc:name="Request" doc:id="48aca122-fdc1-4eb4-ac22-e7130337d496" config-ref="HTTP_Request_configuration" path="/"/>
	</flow>
</mule>
